/* TEST */
.header-test {
  border: 1px solid red;
}
.main-test {
  border: 1px solid green;
}

.hide {
  display: none;
}

.bg-dark {
  background-color: #000;
}

/* TEXT */
.text-white {
  color: #fff;
}
/* PADDINGS */
/* PADDING TOP*/
.ptop-30 {
  padding-top: 30px;
}

/* PADDING BOTTOM */
.pbottom-30 {
  padding-bottom: 30px;
}
/* PADDING TOP*/
/* MARGINS */
/* MARGIN TOP */
.mtop-10 {
  margin-top: 10px;
}
.mtop-20 {
  margin-top: 20px;
}
.mtop-30 {
  margin-top: 30px;
}
.mtop-60 {
  margin-top: 60px;
}

/* MARGIN BOTTOM */
.mbottom-30 {
  margin-bottom: 30px;
}

/* HEIGHT */
.height--main-min {
  min-height: 75vh;
}
