<navigation></navigation>

<div class="container mtop-main height--main-min ptop-30">
  <!-- sitemap -->
  <div class="sitemap">
    <a href="/">Home</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="/profile">Profile</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a>Submissions of {{ vm.routeParams.submissionCategory }} for {{ vm.routeParams.submissionFor }}</a>
  </div>
  <h2 class="text-center ptop-30 pbottom-30">Submissions of {{ vm.routeParams.submissionCategory }} for {{ vm.routeParams.submissionFor }}</h2>
  <div class="row mbottom-30" ng-show="vm.hasSubmission">
    <div class="col-12 text-right">
      <a href="profile/submission/new/{{ vm.routeParams.submissionCategory }}/{{ vm.routeParams.submissionFor }}" class="btn btn-primary">Submit the full paper or revisions</a>
    </div>
  </div>
  <!-- Loop through all the submissions for the specific journal and target issue -->
  <div class="row mbottom-30" ng-repeat="submission in vm.data">
    <div class="container card">
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          Submission Type
        </div>
        <div class="col-sm-8">
          {{ submission.submissionType }}
        </div>
      </div>
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          Title
        </div>
        <div class="col-sm-8">
          {{ submission.title }}
        </div>
      </div>
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          Abstract
        </div>
        <div class="col-sm-8">
          {{ submission.abstract }}
        </div>
      </div>
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          Author(s)
        </div>
        <div class="col-sm-8">
          {{ submission.authors }}
        </div>
      </div>
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          Keyword(s)
        </div>
        <div class="col-sm-8">
          {{ submission.keywords }}
        </div>
      </div>
      <div class="row padding-10 border-bottom--Light-gray">
        <div class="col-sm-4">
          File(s)
        </div>
        <div class="col-sm-8">
          <div ng-repeat="file in submission.files"><a href="" target="_blank" ng-click="vm.onClick(file.filename);">{{ file.originalname }}</a></div>
        </div>
      </div>
      <div class="row padding-10">
        <div class="col-12 text-right">
          <a href="/profile/submission/update/{{submission._id}}" class="btn btn-primary" ng-click="vm.updateSubmission(submission._id, file._id);">Update</a>
          <button type="button" name="button" class="btn btn-danger" ng-click="vm.deleteSubmission(submission._id);">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="vm.hasSubmission">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          Oops, you haven't submitted any manuscripts for {{ vm.routeParams.submissionCategory }} {{ vm.routeParams.submissionFor }} issue yet.
        </div>
        <div class="col-sm-4 text-right">
          <a href="profile/submission/new/{{ vm.routeParams.submissionCategory }}/{{ vm.routeParams.submissionFor }}" class="btn btn-primary">Submit a Manuscript</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
