<navigation></navigation>

<div class="container mtop-main height--main-min ptop-30">
  <!-- sitemap -->
  <div class="sitemap">
    <a href="/">Home</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="/profile">Profile</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a>Submissions of {{ vm.routeParams.submissionCategory }} for {{ vm.routeParams.submissionFor }}</a>
  </div>
  <h2 class="text-center ptop-30 pbottom-30">Submissions of {{ vm.routeParams.submissionCategory }} for {{ vm.routeParams.submissionFor }}</h2>
  <div class="row" ng-repeat="submission in vm.data">
    <div class="col-sm-12" ng-repeat="file in submission.files">
      <div class="container">
        <div class="row">
          <div class="col-2">
            {{ submission.submissionType }}
          </div>
          <div class="col-7">
            <a href="" target="_blank" ng-click="vm.onClick(file.filename);">{{ file.originalname }}</a>
          </div>
          <div class="col-3 text-right">
            <button type="button" name="button">Update</button>
            <button type="button" name="button" ng-click="vm.deleteFile(submission._id, file._id);">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="vm.hasFile">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          Oops, you haven't submitted any manuscripts for {{ vm.routeParams.submissionCategory }} {{ vm.routeParams.submissionFor }} issue yet.
        </div>
        <div class="col-sm-4 text-right">
          <a href="profile/submission" class="btn btn-primary">Submit a Manuscript</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
