<navigation></navigation>

<div class="container">

  <div class="row">

    <div class="col-md-12">
      <div class="text-center">
        <h1 class="form-signin-heading">Welcome back! Please log in.</h1>
        <p class="lead">Not a member? Please <a href="register">register</a> instead.</p>
      </div>

      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password" required>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Sign in!</button>
        </div>
      </form>

    </div>
  </div>

</div>
<footer class="footer"></footer>
