<navigation></navigation>

<div class="container">
  <div class="row">

     <div class="col-md-6">

      <h2 class="form-signin-heading">Your profile</h2>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        </div>
      </form>

      <!--  Manuscript Submission Form -->
      <h2 class="form-signin-heading">Submit Your Manuscript</h2>
      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Sign in!</button>
      </form>

    </div>

  </div>
</div>

<footer></footer>
