<navigation></navigation>

<div class="container mtop-main">
  <h2 class="text-center ptop-30 pbottom-30">Hi {{ vm.user.name }}, welcome back!</h2>
  <div class="row">
     <div class="col-md-8">

      <!-- TODO: show all the submissions with update, delete buttons-->
      <div class="card">
        <div class="card-header">
          <h3>Submissions</h3>
        </div>
        <div class="" ng-hide="!vm.others.length && !vm.jme.length">
          <div class="card-body" ng-hide='!vm.jme.length'>
            <h4 class="card-title">Journal of Mathematics Education</h4>
            <ul class="card-text" ng-repeat='submission in vm.jme'>
              <li><a href="profile/submissions/jme/{{ submission.submissionFor }}">{{ submission.submissionFor }}</a></li>
            </ul>
          </div>
          <div class="card-body" ng-hide='!vm.others.length'>
            <h4 class="card-title">Others</h4>
            <ul class="card-text" ng-repeat='submission in vm.others'>
              <li><a href="profile/submissions/others/{{ submission.submissionFor }}">{{ submission.submissionFor }}</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body" ng-hide="vm.others.length || vm.jme.length">
          <p>You don't have any submissions yet.</p>
          <a href="profile/submission" class="btn btn-primary text-right">Submit a Manuscript</a>
        </div>
      </div>
      <!-- TODO: show the review feedback from other reviewers if existing -->
      <div class="card mtop-20">
        <div class="card-header">
          <h3>Check feedback from our reviewers</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Thanks to our reviewers, here are the feedbacks from our reviewers.</h4>
          <p class="card-text">Please modify your paper accordingly based on the feedbacks.</p>
        </div>
      </div>
      <!-- TODO: show the papers for review -->
      <div class="card mtop-20">
        <div class="card-header">
          <h3>Papers for review</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Thanks for your support. Here are the papers for you to review</h4>
          <ul>
            <li>1</li>
            <li>2</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Sidebar  -->
    <div class="col-md-4">
      <!-- TODO: link to the submit manuscript page -->
      <div class="card">
        <div class="card-header">
          <h3>Submit a Manuscript</h3>
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="profile/submission" class="btn btn-primary">Submit a Manuscript</a>
        </div>
      </div>
      <!-- TODO: ask authors to sign up as a reviewer -->
      <div class="card mtop-20">
        <!-- if not a reviewer, show the sign up link -->
        <div class="card-header">
          <h3>Sign Up as a Reviewer</h3>
        </div>
        <div class="card-body">
          <div ng-hide="vm.reviewer || vm.user.reviewer">
            <p class="card-text">We really appreciate your support.</p>
            <button type="button" name="button" class="btn btn-primary" ng-click="vm.onClick()">Sign Up as a Reviewer</button>
          </div>
          <div ng-show="vm.user.reviewer">
            You already signed up as a reviewer. Thanks.
          </div>
          <div ng-show="vm.reviewer" class="alert alert-success">
            Thanks for signing up as a reviewer. We really appreciate your support.
          </div>

        </div>
        <!-- TODO: if already sign up as a reviewer, show the link for all the assigned paper -->
      </div>
    </div>
  </div>
  <div class="row mtop-20">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          all the submissions for 201711 (for editors)
          <a href="#">Check all the past submissions</a>
        </div>
        <div class="card-body">
          <!-- accordion -->
          <div class="">
            <h4 class="card-title">Proposals</h4>
            <a href="#">Proposal 1</a>
            <a href="#">Proposal 2</a>
            <a href="#">Proposal 3</a>
          </div>
          <div class="">
            <h4 class="card-title">Full Papers</h4>
            <div class="">
              <a href="#">Full papers 1</a>
              <a href="#" class="btn btn-primary">Assign the paper to a reviewer</a>
            </div>
            <div class="">
              <a href="#">Full papers 2</a>
              <a href="#" class="btn btn-primary">Assign the paper to a reviewer</a>
            </div>
            <div class="">
              <a href="#">Full papers 3</a>
              <a href="#" class="btn btn-primary">Assign the paper to a reviewer</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mtop-20">
      <div class="card">
        <div class="card-header">
          all the reviewers for 201711 (for editors)
          <a href="#">Here are all the reviewers signed up for 201711</a>
        </div>
        <div class="card-body">
          <!-- accordion -->
          <ul>
            <li>ashley chen</li>
            <li>tom</li>
            <li>...</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
