<navigation></navigation>

<div class="container">
  <div class="row">

     <div class="col-md-12">

      <h2 class="form-signin-heading">Your profile</h2>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        </div>
      </form>

      <!--  Manuscript Submission Form -->
      <h2 class="form-signin-heading">Submit Your Manuscript</h2>
      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="paper-title">Paper Title</label>
          <input type="text" class="form-control" id="paper-title" placeholder="Enter your paper title" ng-model="vm.paperInfo.paperTitle">
        </div>
        <div class="form-group">
          <label for="abstract">Abstract</label>
          <input type="text" class="form-control" id="abstract" placeholder="Enter your paper abstract" ng-model="vm.paperInfo.abstract">
        </div>
        <div class="form-group">
          <label for="keywords">Keywords</label>
          <input type="text" class="form-control" id="keywords" placeholder="Enter your paper keywords" ng-model="vm.paperInfo.keywords">
        </div>
        <div class="form-group">
          <label for="paper-file">Paper File</label>
          <input type="file" class="form-control" id="paper-file" ng-model="vm.paperInfo.paperFile">
        </div>
        <div class="form-group">
          <label for="graphic-file">Graphic File</label>
          <input type="file" class="form-control" id="graphic-file" ng-model="vm.paperInfo.graphicFile">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>

  </div>
</div>

<footer class="footer"></footer>
